body{
    position: relative;
    font-size: 12px;
    /* height: 2014px; */
    width: 100%;
    background-color:#f5f5f5;
}
*{
    padding:0;
    margin: 0;
}
th,tr,td{
    padding:0;
    margin: 0;
}
a{
    text-decoration: none;

}
li{
    list-style: none;
}
.topbar{
    position: relative;
    width: 100%;
    height: 70px;
    background: #242424;
    overflow: hidden;
}
.top-center{
    width: 1100px;
    margin:0 auto;
}
.logo {
    float: left;
    width: 176px;
    height: 69px;
    background-position: 0 0;
    background: url("../img/topbar.png");
}
.topbar-l{
    
    float: left;

}
.topbar-l>ul>li{
    float: left;
    height: 70px;
    position: relative;
    line-height: 70px;
    text-align: center;
    background-color:#242424;

}
.topbar-l>ul>li>a{
    display: block;
    padding:0 19px;
    color: #ccc;
    font-size: 14px;
    line-height: 70px;
}
.topbar-l>ul>li:hover{
    color:#fff;
    background-color: #000;
}
.topbar-l>ul>li:hover a{
    color:#fff;
}
.dot{
    display: block;
    position: absolute;
    top: 24px;
    left: 54px;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #C20C0C;
}
.sj{
    display: block;
    position: absolute;
    left: 50%;
    top: 64px;
    width: 12px;
    height: 7px;
    margin-left: -6px;
    background:url("../img/topbar.png")no-repeat;
    background-position: -226px 0;

}

.lst{
    position: relative;
}
.hot{
    display: block;
    position: absolute;
    top: 21px;
    left: 100px;
    width: 28px;
    height: 19px;
    background: url("../img/topbar.png");
    background-position: -190px 0;

}
.topbar-r{
    float: right;
    width: 158px;
    height: 32px;
}
.login{
    float: right;
    display: block;
    width: 28px;
    line-height: 70px;
    text-align: center;
    margin-left: 20px;
    color: #787878;

}
.login:hover{
    color: #ccc;
    text-decoration: underline;
}
.srcbg{
    float: right;
    width: 158px;
    height: 32px;
    margin-top: 19px;
    background: url("../img/topbar.png");
    
    background-position: 0 -99px;
    background-color: #fff;
    border-radius: 32px;

}
.srcbg>input{
    margin: 6px 0 0 30px;
    width: 70%;
    height: 54%;
    border:none;
    font-size: 14px;
    outline: none;
    color:#9b9b9b;
}
.creator-center{
    float: right;
    width: 90px;
    height: 32px;
    margin: 19px 0 0 12px;
    box-sizing: border-box;
    padding-left: 16px;
    border: 1px solid #4F4F4F;
    background: url("../img/topbar.png");

    background-position: 0 -140px;
    line-height: 33px;
    color: #ccc;
    border-radius: 20px;
}
.creator-center:hover {
    background-position: -100px -140px;
    color: #fff;
    text-decoration: none;
    border: 1px solid #ccc;
}
/* 红色的导航栏开始 */
.redbar{
    z-index: 390;
    height: 35px;
    box-sizing: border-box;
    background-color: #C20C0C;
    border-bottom: 1px solid #a40011;
    overflow: hidden;
}
.redbar-center{
    width: 1100px;
    height: 34px;
    margin: 0 auto;
}
.redbar-detail{
    margin-left: 180px;
}
.redbar-detail>ul>li{
    position: relative;
    float: left;
    
    /* width: 84px; */
    height: 34px;
    /* line-height: 34px; */
    /* text-align: center; */
}
.redbar-detail>ul>li>a{
    display: inline-block;
    height: 20px;
    color: #fff;
    padding: 0 13px;
    margin: 7px 17px 0;
    border-radius: 20px;
    line-height: 19px;
    text-align: center;
    background-color: #C20C0C;
}
.redbar-detail>ul>li>a:hover{
    background-color: #9b0909;
}
.R{
    position: absolute;
    width: 10px;
    height: 10px;
    top: 6px;
    right:19px;
    background: url("../img/R.png")no-repeat;
    background-size: 10px 10px;
}

/* 红色的导航栏结束 */
/* 第二种红色导航栏 */
.redbar2{
    width: 100%;
    height: 5px;
    background-color: #C20C0C;
}
/* 轮播图开始 */
main {
    position: relative;
    top: 0;
    height: 285px;
    width: 100%;
    overflow: hidden;
}

main .bg {
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background-image: url(../img/lb1.jpg);
    background-size: 100% 100%;
    filter: blur(30px);
}

main section {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    max-width: 980px;

}

main section .tupian {
    position: relative;
    width: 980px;
    height: 100%;
}

main section .tupian .image {
    width: 100%;
    height: 100%;
    object-fit: cover;


}

.yun {
    animation: bian 5s linear infinite;
}


@keyframes bian {

    0%,
    100% {
        opacity: 0.2;
        backdrop-filter: blur(10px);
    }

    30%,
    80% {
        opacity: 1;
        backdrop-filter: blur(0px);
    }

}

main .select {
    position: absolute;
    bottom: 10px;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .select .dian {
    margin: 3px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    /* border:1px solid red; */
    background-color:#e0dded;
}

main .select .dian:hover {
    background-color: red;
    cursor: pointer;
}

.check {

    background-color: red!important;
}

/* main section .bt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: rgba(82, 81, 81, 0.2);
    border-radius: 20%;
    cursor: pointer;
    transition: all 0.3s;
} */
main section .bt {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 37px;
    height: 63px;
    line-height: 63px;
    text-align: center;
    cursor: pointer;
    
    transition: all 0.3s;
}
main section .bt:hover {
    background-color:rgba(0,0,0,0.3);
}


/*当屏幕尺寸小于1100px时，应用下面的CSS样式,详细用法网址：https://www.xuewangzhan.net/baike/css3-379.html*/
/* @media screen and (max-width: 1100px) {
    main section .left {
        left: 20px;
    }

    main section .right {
        right: 20px;
    }
} */
main section span{
       
    font-size: 45px;
    color: rgb(255, 255, 255);

}
main section .left {
    left: -9%;
}
main section .right {
    right: -9%;
}
.download{
    position: absolute;
    top:0;
    right:0;
    width: 252px;
    height: 285px;
    background:url("../img/download.png");
    background-position: 0 0;
    overflow: hidden;
}
.download .download_btn{
    
    background-color: red;
    display: block;
    width: 215px;
    height: 56px;
    margin: 186px 0 0 19px;
    background: url("../img/download.png");
    background-position: -19px 167px;
    

}
.download p {
    margin: 10px auto;
    text-align: center;
     color: #8d8d8d;
    font-size: 12px;
}
.download .download_btn:hover {
    background-position: 0 -290px;
} 






/* 轮播图结束 */
/* 面部分开始 */
.main{
    width: 980px;
    height: 1450px;
    /* background-color: pink; */
    margin:0 auto;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid #d3d3d3;
}
.main-l{
    width: 729px;
    height: 1450px;
    float: left;
    /* background-color: yellow; */
    overflow: hidden;
    border-right: 1px solid #d3d3d3;

}
.main-l-content{
    width: 689px;
    margin:20px auto;

}
.recommend{
    width: 100%;
    height:550px;
    background-color: #fff;
}
.hot_title{
    height: 33px;
    /* width: 680px; */
    overflow: hidden;
    padding: 0 10px 0 34px;
    background: url(../img/index.png)no-repeat;

    background-position: -225px -156px;
    border-bottom: 2px solid #C10D0C;
}
.hot_title>a{
    float: left;
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #333333;

}
.recom-detal{
    width: 310px;
    margin-top: 7px;

}
.recom-detal>ul li{
    float: left;
    font-size: 10px;
    padding-left: 10px;
    color: #666;
}
.recom-detal>ul li:hover{
    text-decoration: underline;
}
.more{
    float: right;
    /* margin-top: 5px; */
}
.more>a{
    color: #666;
    font-size: 12px;
    margin-top:2px;
}
.more>a:hover{
    text-decoration: underline;
}
.more>span{
    float: right;
    width: 12px;
    height: 12px;
    margin-top:3px;
    margin-left: 4px;
    background: url("../img/index.png")no-repeat;
    background-position: 0 -240px;
}
.card>ul>li{
    float: left;
    width: 140px;
    height: 215px;
    overflow: hidden;
    margin:20px 0 0 40px;
    /* line-height: 1.4; */

}
.card-top{
    position: relative;
    width: 140px;
    height: 140px;
 

}
.card-top>a{
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: url(../img/coverall.png);
    background-position: 0 0;
    
}
.card-top>img{
    width: 100%;
    height: 100%;
}
.card-top>.img_cover{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27px;
    background: url("../img/coverall.png");
    background-position: 0 -537px;
    color: #ccc;

}
.listen{
    float: left;
    width: 14px;
    height: 11px;
    background: url("../img/iconall.png");
    background-position: 0 -24px;
    margin: 9px 5px 9px 10px;
}
.liulan{
    float: left;
    margin: 7px 0 0 0;
}
.start{
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 16px;
    height: 17px;
    background: url("../img/iconall.png");
    background-position: 0 0;                               
    
}
.start:hover{
    background-position: 0 -60px;
}
.card p{
    width: 100%;
    margin: 8px 0 3px;
    font-size: 14px;

}
.card p a{
    color: #333333;
}
.card p a:hover{
    text-decoration: underline;
}


/* new部分 */
.new{
    position: relative;
    width: 100%;
    height: 280px;
    /* background-color: pink; */
}
.new-detail{
    position: relative;
    height: 188px;
    width: 687px;
    margin-top:20px;
    
    background-color: #f5f5f5;
    border:1px solid #d3d3d3;
}
.inner{
    margin-left:16px;
}
/* 左右按键 */
.prev,.next{
    position: absolute;
    top: 71px;
    width: 17px;
    height: 17px;
}
.prev{
    left:0;
    background: url("../img/index.png")no-repeat;
    background-position: -260px -75px;
}
.prev:hover{
    background-position: -280px -75px;

}
.next{
    right:0;
    background: url("../img/index.png")no-repeat;
    background-position: -300px -75px;
}
.next:hover{
    background-position: -320px -75px;

}
.new-scroll{
    float: left;
    width: 645px;
    height: 180px;
    /* background-color: purple; */
    overflow: hidden;
}
.new-scroll>ul{
    position: absolute;
    top: 0;
    width: 645px;
    margin: 28px 0 0 0;
}
.new-scroll li {
    position: relative;
    float: left;
    width: 118px;
    height: 150px;
    margin-left: 11px;
    background: url('../img/xindie-bg.png');
    background-position:-260px 100px;
   
}
.n_cover{
    position: relative;
    width: 100px;
    height: 100px;
    margin-bottom: 7px;
}
.s_img{
    width: 100%;
    height: auto;

}

.n_cover .kaishi{
    display: none;
    position: absolute;
    left: 72px;
    top:72px;
    width: 22px;
    height: 22px;
    background: url("../img/iconall.png");
    background-position: 0 -85px;
}
.n_cover .kaishi:hover{
    background-position: 0 -110px;
}
.new-scroll li:hover .n_cover .kaishi{
    display: block;
}
.msk {
    position: absolute;
    top:0;
    left:0;
    width: 118px;
    height: 100px;
    /* background-color: red; */
    background:url("../img/coverall.png")no-repeat;
    background-position: 0 -570px;
}
.new-scroll li P{
    line-height: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* new结束 */
/*charts部分开始  */
.charts{
    position: relative;
    width: 100%;
    height:600px;
    /* background-color: pink; */
}
.charts-list{
    
    height: 473px;
    margin-top: 20px;
    padding-left: 1px;
    width: 687px;
    background-color: #f5f5f5;
    border: 1px solid #d3d3d3;

}

.blist{
    float: left;
    width: 228px;
    height: 473px;
    /* background-color:#999; */
    overflow: hidden;
    border-right:1px solid #d5d5d5;
}
.blist-top{
    height: 100px;
    width: 100%;
    padding: 20px 0 0 19px;
}
.blist_cover{
    position: relative;
    float: left;
    width: 80px;
    height: 80px;
    overflow: hidden;


}
.blist_cover>img{
    width: 100%;
    height: 100%;

}
.blist_cover>a{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url("../img/coverall.png")no-repeat;
    background-position: -145px -57px;
}
.tit{
    float: left;
    width: 116px;
    margin: 6px 0 0 10px;
    
}
.tit>a{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 700;
    color: #333;
}
.tit>a:hover{
    text-decoration: underline;
}
.btn{
    margin-top:10px;

}

.btn>a{
    display: block;
    float: left;
    width: 22px;
    height: 22px;
    margin-right: 10px;
    background: url("../img/index.png")no-repeat;
}
.btn>a:nth-child(1){
    background-position:-267px -205px;
}
.btn>a:nth-child(1):hover{
    background-position:-267px -235px;
}
.btn>a:nth-child(2){
    background-position:-300px -205px;;
}
.btn>a:nth-child(2):hover{
    background-position:-300px -235px;
}
.blist>ol{
    height: 319px;
    /* margin-left: 50px; */
    line-height: 32px;
}
.blist>ol>li{
    position: relative;
    width: 100%;
    height: 32px;
    text-align: center;
    overflow: hidden;
}
.blist>ol>li:nth-child(even){
    background-color:#f4f4f4;
}
.blist>ol>li:nth-child(odd){
    background-color:#e8e8e8;
}
.blist>ol>li>span{
    
    float: left;
    width: 35px;
    height: 32px;
    margin-left:14px;
    text-align: center;
    color: #666;
    font-size: 16px;
}
.music{
    float: left;
    text-align: left;
    width: 67px;
    height: 32px;
    color:#000;
}
.music:hover{
    text-decoration: underline;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.btn2{
    float: left;
    display: none;
    margin-top:7px;
    margin-left: 12px;
}
.btn2 a{
    float: left;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    
    background: url(../img/index.png)no-repeat;
}
.btn2 a:nth-child(1){
    background-position: -267px -268px;
}
.btn2 a:nth-child(1):hover{
    background-position: -267px -288px;
}
.btn2 a:nth-child(2){
    margin: 2px 6px 0 0;
    background: url("../img/icon.png");
    background-position: 0 -700px;
}
.btn2 a:nth-child(2):hover{
    background-position: -22px -700px;
}

.btn2 a:nth-child(3){
    background-position: -297px -268px;
}
.btn2 a:nth-child(3):hover{
    
    background-position: -297px -288px;
}
.blist>ol>li:hover .btn2{
    display: block;
}
.blist ol li:nth-child(11)>a{
    float: right;
    color: #000;
    padding-right: 30px;
}
.blist ol li:nth-child(11)>a:hover{
    text-decoration: underline;
}
/* 右边 */
.main-r{
    width: 250px;
    height: 1200px;
    float: left;
    /* background-color: green; */
}
.info{
    height: 126px;
    width: 250px;
    background: url("../img/index.png");
    background-position: 0 0;
}
.info>p{
    width: 205px;
    margin: 0 auto;
    padding: 16px 0;
    line-height: 22px;
    color: #666;
}
.info>a{
    
    display: block;
    width: 100px;
    height: 31px;
    line-height: 31px;
    text-align: center;
    color: #fff;
    margin:0 auto;
    text-shadow: 0 1px 0 #8a060b;
    background: url("../img/index.png")no-repeat;
    background-position: 0 -195px;
}
.info>a:hover{
    background-position: -110px -195px;
}
/* 歌手部分 */
.singer{
    margin-top: 15px;

}
.singer-center{
    width: 210px;

    margin:0 auto;
}
.singer-center>h3{
    
    position: relative;
    height: 23px;
    border-bottom: 1px solid #ccc;
    color: #333;
    
}
.singer-center>h3>a{
    float: right;
    color: #666;
    font-size: 13px;


}
.singer-center>h3>a:hover{
    text-decoration: underline;
}
.singer-center>.ul1 li{
    
    width: 210px;
    height: 62px;
    background: #fafafa;
    margin-top:14px;
    border:1px solid #cccccc;
    
}
.singer-center>.ul1 li:hover{
    background-color: #f4f4f4;
}
.singer-center>.ul1 li img{
    float: left;
    height: 100%;
    width: auto;

}
.singer-center>.ul1 li>div{
    float: left;
    margin-left:20px;
    margin-top:5px;

}
.singer-center>.ul1 li>div p:nth-child(1){
    color: #333;
    font-size: 14px;
    font-weight: 700;
    line-height: 25px;
}
.singer-center>.ul1 li>div p:nth-child(2){
    color: #666;
    font-size: 13px;
    line-height: 25px;
    width: 100px;
    height: 25px;
    text-align:left;
    overflow: hidden;/*超出部分隐藏*/
    text-overflow:ellipsis;/* 超出部分显示省略号 */

}
.singer-btn{
    display: inline-block;
    height: 31px;
    width: 210px;
    overflow: hidden;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    margin-top: 14px;
    border-radius: 4px;
    color: #333;
    font-weight: 700;
    margin-bottom: 30px;
    background: url("../img/button2.png")no-repeat;
    background-position:0 -59px;
    
}
.singer-btn:hover{
    
    background-position:0 -223px;
}
.singer-center>.ul2 li{
    width: 210px;
    height: 40px;
    margin-top:14px;
}
.r-img{
    float: left;
    width: 40px;
    height: 40px;
    

}
.r-info{
    float: left;
    width: 160px;
    margin-left:10px;
}
.r-info p{
    line-height: 20px;
}
.r-info p:nth-child(1):hover{
    text-decoration: underline;
}
.r-info p:nth-child(2){
    color: rgb(102, 102, 102);
}




/* 主要部分结束 */
/* 底部开始 */
.footer {
    position: absolute;
    bottom: 0;
    left:0;
    width: 100%;
    height: 172px;
    overflow: hidden;
    border-top: 1px solid #d3d3d3;
    background: #f2f2f2;
}
.footer-content{
    width: 980px;
    margin:0 auto;
}
.f-l{
    width: 520px;
    float: left;
    margin-top:20px;
}
.f-l p {
    /* height: 23px; */
    line-height: 23px;
    text-align: left;
    color: #666;
}
.footer-content .one>li{
    float:left;
    margin-right: 10px;

}
.one>li>a{
    color: #999;
}
.f-r{
    float: left;
    width: 460px;
    margin-top:20px;
    height: 300px;
}
.f-r>ul li{
    float: left;
    width: 60px;
    height: 80px;
    /* background-color: #ccc; */
    margin-left: 30px;
    text-align: center;
    color: #666;
    overflow: hidden;

}
.f-r>ul>li>a{
    display: block;
    width: 50px;
    height: 50px;
    margin:10px 0 0 5px;
    
}
.f-r>ul>li>span{
    display: block;
    color: #999;
    font-size: 8px;
    line-height: 20px;
    text-align: center;
    width: 60px;
    height: 20px;
}
.first{
    background: url("../img/foot_enter_new.png")no-repeat;
    background-position: -63px -456.5px;
    background-size: 110px 552px;
}
.two{
    background: url("../img/foot.png")no-repeat;
    background-position: -63px -101px;
    background-size: 110px 552px;
}
.three{
    background: url("../img/foot.png");
    background-size: 110px 552px;
    background-size: 110px 552px;
}
.four{
    background: url("../img/foot.png");
    background-position: -60px -50px;
    background-size: 110px 552px;
}

.five{
    background: url("../img/foot.png");
    background-position: 0 -101px;
    background-size: 110px 552px;
}
.back{
    position: fixed;
    display: block;
    right:150px;
    bottom: 50px;
    width: 49px;
    height: 44px;
    background: url("../img/sprite.png");
    background-position: -265px -47px;
}
.back:hover{
    background-position: -325px -47px;
}
