#guanzhu{
    width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #f5f5f5;
}
.g-center{
    display: flex;
    flex-flow: nowrap row;
    width: 980px;
    height: auto;
    margin: 0 auto;
    border: 1px solid #d3d3d3;
    background-color: #fff;
}
.g-left{
    flex: 1;
    box-sizing: border-box;
    padding: 20px 30px;
    border-right: 1px solid #ccc;
}
.u-title{
    height: 40px;
    line-height: 40px;
    border-bottom:2px solid #c20c0c;
}
.u-title>h3{
    float: left;
    font-size: 20px;
    font-weight: normal;

}

.u-title>span{
    display: block;
    float: right;
    border-radius: 20px;
    margin: 6px 0 0 10px;
}
.mini-btn1{
    width: 71px;
    height: 24px;
    background:url('../img/frd_dyn_sprite.png');
    background-position: 0 -452px
    
}
.mini-btn1:hover{
    background-position: 0px -480px;
}
.mini-btn2{
    width: 84px;
    height: 24px;
    background:url('../img/frd_dyn_sprite.png');

    background-position: -100px -452px;
}
.mini-btn2:hover{
    background-position: -100px -480px;
}
.newsongbar{
    border-radius: 6px;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    margin: 16px 0;
    padding: 0 16px 0 12px;
    background: rgba(35,93,157,0.10);
    border: 1px solid rgba(0, 0, 0, 0.12);
    
}
.newsongbar>a{
    float: right;
    color: #235d9d;
}
.newsongbar .nicon{
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('../img/icon.png');
    background-size: contain;
    vertical-align: top;
    margin-top: 7px;
    margin-right: 2px;
}
.newsongbar>a:hover{
    text-decoration: underline;
}
.g-right{
    width: 296px;
}