@font-face {
  font-family: "iconfont"; /* Project id 3280556 */
  src: url('iconfont.woff2?t=1648307245019') format('woff2'),
       url('iconfont.woff?t=1648307245019') format('woff'),
       url('iconfont.ttf?t=1648307245019') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-aite1:before {
  content: "\e764";
}

.icon-xiangshang1:before {
  content: "\e76d";
}

.icon-xiangxia:before {
  content: "\e614";
}

.icon-fenxiang:before {
  content: "\e63e";
}

.icon-pinglun1:before {
  content: "\e695";
}

.icon-xiazai1:before {
  content: "\e60d";
}

.icon-biaoqing:before {
  content: "\e60c";
}

.icon-bofangqi-bofangxiaodianshi:before {
  content: "\e6ab";
}

.icon-jiajianzujianjiahao:before {
  content: "\e64d";
}

.icon-tubiaosvg-:before {
  content: "\e622";
}

